@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h2>Here are your tokens</h2>

<h1>ID Token</h1>
<textarea>@ViewBag.idToken</textarea>
<hr />
<h1>Access Token</h1>
<textarea>@ViewBag.accessToken</textarea>